<section class="container">
  <h1>Primer proyecto en angular</h1>
  <!-- <h2>{{ message }}</h2> -->

  <hr />
  <h3>
    Podemos utilizar funciones de javascript en los corchetes por ejemplo 2+2={{
      2 + 2
    }}
  </h3>
  <hr />
  <h3>Property binding</h3>
  <input type="text" [value]="person.name" /> <br />
  <input type="number" [value]="person.age" /> <br />
  <img [src]="person.imageUrl" [alt]="person.imageAlt" /><br />
  <button type="button" [disabled]="disabled">disabled btn</button>
  <hr />
  <h3>Event binding</h3>
  <button type="button" (click)="handleClick()">click me!!!</button><br />
  <button type="button" (dblclick)="handleDbClick()">db click me!!!</button>
  <h3>(CHANGE EVENT)</h3>
  <input type="text" (change)="changeHandler($event)" [value]="person.name" />
  <br />
  <input type="number" (change)="changeHandler($event)" [value]="person.age" />
  <br />
  <input type="text" name="" id="" (keydown)="keyDownHandler($event)" /> <br />
  <h3>Event with shortcuts</h3>
  <input type="text" (keydown.shift.e)="handleClick()" />
  <hr />
  <h3>Signals</h3>
  <p>{{ name() }}</p>
  <button type="button" (click)="changeNameHandler()">Change signal</button>
  <hr />
  <h3>Directivas de control</h3>
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>
  <hr />
  <button (click)="changeIfState()">Change if State</button>
  <ng-container *ngIf="ifState(); else elseTemplate">
    <h3>NG IF</h3>
  </ng-container>
  @if (ifState()) {
  <strong>new NG IF</strong>
  }@else {
  <i> new ng Else</i>
  }
  <ng-template #elseTemplate> <h3>NG-else</h3> </ng-template>
  <hr />
  <h3>NG SWITCH</h3>
  <br />
  <ng-container *ngFor="let config of config()">
    <button (click)="changeSelectedConfig(config)">{{ config }}</button><br />
  </ng-container>
  <br />
  <section>
    <ng-container [ngSwitch]="selectedConfig()">
      <p *ngSwitchCase="config()[0]">development</p>
      <p *ngSwitchCase="config()[1]">production</p>
      <p *ngSwitchCase="config()[2]">test</p>
      <p *ngSwitchDefault>default</p>
    </ng-container>
  </section>
  <br />
  <hr />
  <input type="text" [formControl]="classCtrl" />
  <!-- Hace que el input aparezca hasta que se presente un interacción con el usuario -->
  <p
    [ngClass]="classCtrl.valid ? '' : 'message-error'"
    [class.show]="classCtrl.invalid && classCtrl.touched"
  >
    Nombre invalido
  </p>
  <input type="text" name="" id="" />
  <h3>Directivas de control new for</h3>
  <ul>
    @for (task of tasks(); track task; let index =$index) {

    <li>
      {{ task }}
    </li>
    }
  </ul>
</section>
